#root {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	width: 100%;
	height: 100vh;

}

#drum-machine {
	height: 100%;
	display: grid;
	grid-template-rows: minmax(48px, 1fr) 3fr;
	grid-template-areas:
		"display"
		"drumpads"
	;
}

#display {
	grid-area: display;
	place-self: center;
	width: 100%;
	height: 80%;
	margin: 0;
	border: 1px solid #808080;

}

.drum-pads {
	height: 100%;
	display: grid;
	grid-area: drumpads;
	grid-template-columns: repeat(3, 1fr);
	gap: .5rem;
}
